@model RegistroViewModel 

@{
    ViewData["Title"] = "Registro";
}

<h1>Regístrate</h1>

<form asp-action="Registro">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Nombres" class="form-label" ></label>
        <input asp-for="Nombres" class="form-control" />
        <span asp-validation-for="Nombres" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Apellidos" class="form-label" ></label>
        <input asp-for="Apellidos" class="form-control" />
        <span asp-validation-for="Apellidos" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NumeroRegistro" class="form-label" ></label>
        <input asp-for="NumeroRegistro" class="form-control" />
        <span asp-validation-for="NumeroRegistro" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label" ></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label" ></label>
        <input asp-for="Password"  class="form-control" />    @*  type="password"  *@
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

     <div class="mb-3">
        <label asp-for="IdInstitucion" class="form-label" ></label>
        <input asp-for="IdInstitucion"  class="form-control" />   
        <span asp-validation-for="IdInstitucion" class="text-danger"></span>
    </div>

    <button class="btn-primary btn">Regístrate</button>
</form>

@section Scripts {

<partial name="_ValidationScriptsPartial" />
}